header nav .navbar-collapse ul {
  margin-left: 4em;
}

header nav .navbar-collapse ul li {
  margin-left: 2em;
}

main .container h2:before {
  height: 4em;
  content: "";
  display: block;
}

footer .container {
  padding-top: 4em;
}

main .container #carouselCaptions .carousel-inner .carousel-item {
  height: 600px;
}
