header nav .navbar-collapse ul {
  margin-left: 4em;
}

header nav .navbar-collapse ul li {
  margin-left: 2em;
}

main .container h2:before {
  height: 4em;
  content: "";
  display: block;
}

footer .container {
  padding-top: 4em;
}

main .carousel-item {
  height: 600px;
}

main .gallery img {
  background: #fff;
  padding: 15px;
  max-width: 100%;
  width: 100%;
  cursor: pointer;
  border-radius: 4em;
}

#gallery-popup .modal-img {
  width: 100%;
}
